body{
  margin: 0;
}

.back-image{
  background-image: url("./assets/image\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 50px;
  
  header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 0 50px;


    img:first-child{
      width: auto;
      height: 21px;
    }

    nav{
      display: flex;
      justify-content: space-around;
      width: 488px;

      a{
        text-decoration: none;
        font-family: 'Gilroy-Medium';
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;

      }
    }

    img:last-child{
      width: 46px;
      height: 46px;
    }
  }
}


