body{
  margin: 0;
  background-color: black;
}

.back-image{
  background-image: url("./assets/image\ 10.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 50px;
  height: 992px;

  header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 82px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 0 50px;


    img:first-child{
      width: auto;
      height: 21px;
    }

    nav{
      display: flex;
      justify-content: space-around;
      width: 488px;

      a{
        text-decoration: none;
        font-family: 'Gilroy-Medium';
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;

      }
    }

    img:last-child{
      width: 46px;
      height: 46px;
    }
  }

  .hero-content{
    text-align: left;
    color: #FFFFFF;
    font-family: 'Gilroy-Medium';
    width: 575px;
    height: 388px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 70px 0;

    p:first-child{
      font-size: 20px;
      line-height: 23px;
      margin: 10px 0;
    }

    h1{
      font-family: 'Gilroy-Bold';
      font-size: 80px;
      line-height: 90px;
      /* or 112% */
      text-transform: uppercase;
      margin: 0;
    }

    p:nth-child(3){
      font-size: 30px;
      line-height: 35px;
      margin: 10px 0;
    }

    #imdb{
      display: flex;
      gap: 15px;
      align-items: center;
      margin: 10px 0;

      img{
        width: 55px;
        height: auto;
      }

      p:last-child{
        font-size: 28px;
        line-height: 33px;
        margin: 0;
      }
    }

    button{
      width: 160px;
    }
  }

  .popular-collections{
    width: 100%;
    height: auto;

    h2{
      font-family: 'Gilroy-Bold';
      font-size: 30px;
      line-height: 35px;
      color: #FFFFFF;
    }

    div{
      display: flex;
      gap: 20px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }
}


